<section class="about" id="about">
  <div class="container">
    <div class="about-text" data-aos="fade-right">
      <h2>Transforming Ideas into Digital Reality</h2>
      <p>
        At IdeabotKey, we specialize in building scalable, secure, and smart applications tailored for your business.
        From concept to deployment, we convert your ideas into impactful digital products.
      </p>
    </div>
    <div class="about-image" data-aos="fade-left">
      <img src="assets/images/teamwork.svg" alt="Team Illustration" />
    </div>
  </div>
</section>
