<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/Background.png" alt="IdeabotKey Logo" />
    </div>

    <div class="hamburger" (click)="toggleMenu()">
      <span [class.open]="isMenuOpen"></span>
      <span [class.open]="isMenuOpen"></span>
      <span [class.open]="isMenuOpen"></span>
    </div>

    <ul class="nav-links" [class.show]="isMenuOpen">
      <li><a href="#home" (click)="closeMenu()">Home</a></li>
      <li><a href="#about" (click)="closeMenu()">About</a></li>
      <li><a href="#services" (click)="closeMenu()">Services</a></li>
      <li><a href="#projects" (click)="closeMenu()">Projects</a></li>
      <li><a href="#contact" (click)="closeMenu()">Contact</a></li>
    </ul>
  </div>
</nav>
